@tailwind base;
@tailwind components;
@tailwind utilities;


/* Remove number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}




/* body{
  font-family: "Roboto", serif;
} */

@layer base {
  html {
    font-family: Inter, sans-serif;
    letter-spacing: 0.2px;
  }
}

.color-display{
  width: 100px;
  height: 25px;
  border: 5px solid hsl(0, 0%, 80%);
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 14px;
  text-align: center;
}

.quill-editor.readonly .ql-editor {
  pointer-events: none;
}

/* New placeholder color */




select {
   color:#6C7086;
    font-size: 14px;
}

/* input, select{
  height: 44px !important;
  padding-left: 12px;
  padding-right: 12px;
} */

.btn-pd{
  padding: 10px 28px!important;
}


.custom-height{
  height: 44px!important;
  padding-left: 12px;
  padding-right: 12px;
}

label{
  font-size: 14px !important;
}
input::placeholder {
   color:#6C7086;
   font-size: 14px;
}
 
input::-webkit-input-placeholder { /* Chrome/Safari/Opera */
   color:#6C7086;
    font-size: 14px;
}
 
input::-moz-placeholder { /* Firefox 19+ */
   color:#6C7086;
    font-size: 14px;
}
 
input:-ms-input-placeholder { /* IE10+ */
   color:#6C7086;
    font-size: 14px;
}
 
input:-moz-placeholder { /* Firefox 18- */
   color:#6C7086;
  font-size: 14px;
}
textarea::placeholder {
  color:#6C7086;
   font-size: 14px;
}


input:focus{
  /* box-shadow: 0 0 0 1px #004181; */
  outline: none;
}

label {
  font-size: 14px;       
  color: #232323;       
  font-weight:600;     
}